{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<nav class="navbar navbar-expand-sm bg-dark justify-content-center">
    <h1 class="display-5 text-white"><small>Helpful Links</small></h1>
  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a class="nav-link" href="https://en.wikipedia.org/wiki/Thought" target="_blank">Thoughts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://en.wikipedia.org/wiki/Question" target="_blank">Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.amnh.org/exhibitions/frogs-a-chorus-of-colors/frog-fun-facts" target="_blank">Frogs</a>
    </li>
  </ul>
</nav>
<div class="container p-3 my-3 bg-dark text-white">
  <h1 class="display-3">{{question.question_text}}</h1>
 </div>

<div class = "container">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
    </div>

<div class="jumbotron m-5 text-center" style="margin-bottom:0">
  <p>Website by: David B Kim <br> For: CS 3240<br> Copyright 2021</p>
</div>